---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <Header />
  <main
    id="main-content"
    data-layout="index"
    class="flex flex-1 flex-col items-center justify-center px-4 text-center"
  >
    <div class="mx-auto max-w-4xl">
      <h1
        class="mb-8 text-6xl leading-tight font-light md:text-8xl lg:text-9xl"
      >
        Aslak Hellesøy
      </h1>
    </div>
  </main>
  <Footer />
</Layout>
